@use "../../mixins/breakpoints" as *;

.custom-faq {
  padding: 100px 0;

  &__title {
    font-family: 'NunitoSansBold', sans-serif;
    font-size: 33px;
    text-align: center;
  }

  &__list {
    max-width: 770px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    &-item {
      position: relative;
      padding: 30px;
      text-align: left;
      border-bottom: 1px solid rgba(17, 26, 104, .15);

      &::before {
        position: absolute;
        content: url("https://niagaspace.sgp1.digitaloceanspaces.com/www/assets/images/2019/hosting-faq/icon-ellipse.svg");
        top: 30px;
        left: 0;
      }

      >a::after {
        position: absolute;
        content: url("https://niagaspace.sgp1.digitaloceanspaces.com/www/assets/images/2019/hosting-faq//icon-minus.svg");
        top: 30px;
        right: 0;
      }

      >a.collapsed::after {
        position: absolute;
        content: url("https://niagaspace.sgp1.digitaloceanspaces.com/www/assets/images/2019/hosting-faq//icon-plus.svg");
        top: 30px;
        right: 0;
      }

      &-question {
        display: block;
        font-family: 'NunitoSansBold', sans-serif;
        font-size: 18px;
        font-weight: unset;
        text-align: left;
        color: #3A4166;

        &:hover {
          color: #1b1e21;
        }
      }

      &-answer {
        font-size: 16px;
        opacity: .7;
        line-height: 2em;
        text-align: left;
        margin-top: 20px;

        >a {
          color: #007aff;
        }
      }

      &-answers {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 20px;

        &-item {
          &:not(:first-child) {
            margin-top: 20px;
          }

          &-title {
            font-family: 'NunitoSansBold', sans-serif;
            font-size: 16px;
            opacity: .7;
            line-height: 2em;
            text-align: left;
          }

          &-description {
            font-size: 16px;
            opacity: .7;
            line-height: 2em;
            text-align: left;
          }

          &-image {
            width: 100%;
          }
        }
      }
    }
  }

  &__additional-list {
    font-family: 'NunitoSansLight', sans-serif;
    font-size: 16px;
    color: #3A4166;
    line-height: 1.5em;
    opacity: .7;

    h4 {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}