@use "../../mixins/breakpoints"as *;

.guarantee {
  padding: 100px 0;
  background: #f6fbff;

  @include screen(desktop) {
    padding: 50px 0;
  }

  &__logo-wrapper {
    text-align: center;

    @include screen(desktop) {
      position: relative;

      >img {
        position: absolute;
        top: -10px;
        right: 24%;
      }
    }
  }

  &__text-wrapper {
    margin-top: 60px;
    text-align: center;

    @include screen(desktop) {
      margin-top: 0;
      padding-left: 0;
      text-align: left;
    }
  }

  &__title {
    font-family: 'NunitoSansBold', sans-serif;
    font-size: 33px;
    text-align: left;

    @include screen(desktop) {
      text-align: center;
    }
  }

  &__description {
    font-size: 18px;
    opacity: .7;
    line-height: 2em;
    margin: 30px 0 40px;
    text-align: left;
  }
}