@use "../../mixins/breakpoints" as *;
@use "../components/buttons" as *;

sticky-signup {
  display: none;
  background: #373c6d;
  padding: 15.14px 0 16.86px;
  margin-bottom: 15px !important;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-radius: 0;
  box-shadow: none;

  .container {
    position: relative;
  }

  &__text {
    font-size: 16px;
    color: #fff;
    line-height: 16px;
    letter-spacing: 0.05em;
  }

  &__button {
    @extend .nh-btn,
    .nh-btn--orange;
    background: #fb8c00;
    border-radius: 4px;
    border: 0;
    color: #fff;
    float: right;
    font-family: 'NunitoSansBold', sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 16px;
    margin-right: 16px;
    padding: 8px 24px;
    text-align: center;
    text-transform: uppercase;
  }

  &--close {
    cursor: pointer;
    color: #ddd;
    display: block;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 4px;
  }

  @include screen(desktop) {
    &__text {
      font-size: 12px;
    }
  }

  @include screen(mobile) {
    &__text {
      margin-bottom: 24px;
    }

    &--close {
      right: 20px;
      top: 0;
    }
  }
}