@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.as-accordion-table {
  background-color: var(--as-color-white);
  border-radius: 16px;
  box-shadow: $as-shadow-black-1;
  color: rgba(58, 65, 102, .7);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  position: relative;

  &__head {
    background-color: var(--as-color-blue);
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 28px;

    &-title {
      @include font-size('18');
      color: var(--as-color-white);
      font-weight: 700;
      cursor: pointer;
      margin-bottom: 0;

      &:hover,
      &:active,
      &:focus {
        color: var(--as-color-white);
      }

      &::after {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.28955 0.960262L0.639548 6.62026C0.54582 6.71323 0.471426 6.82383 0.420657 6.94569C0.369888 7.06754 0.34375 7.19825 0.34375 7.33026C0.34375 7.46227 0.369888 7.59298 0.420657 7.71484C0.471426 7.8367 0.54582 7.9473 0.639548 8.04026C0.826911 8.22651 1.08036 8.33105 1.34455 8.33105C1.60873 8.33105 1.86219 8.22651 2.04955 8.04026L7.04955 3.09026L11.9995 8.04026C12.1869 8.22651 12.4404 8.33105 12.7045 8.33105C12.9687 8.33105 13.2222 8.22651 13.4095 8.04026C13.504 7.94765 13.5792 7.8372 13.6307 7.71533C13.6822 7.59345 13.709 7.46257 13.7095 7.33026C13.709 7.19796 13.6822 7.06707 13.6307 6.9452C13.5792 6.82332 13.504 6.71288 13.4095 6.62026L7.75955 0.960262C7.66591 0.858758 7.55225 0.777749 7.42576 0.722342C7.29926 0.666934 7.16265 0.63833 7.02455 0.63833C6.88645 0.63833 6.74984 0.666934 6.62334 0.722342C6.49684 0.777749 6.38319 0.858758 6.28955 0.960262Z' fill='white'/%3e%3c/svg%3e");
        position: absolute;
        right: 12%;
        transform: rotate(0deg);
        transition: all .25s ease-in;

        @include screen(tablet) {
          right: 8%;
        }

        @include screen(desktop) {
          right: 4%;
        }
      }

      &.collapsed::after {
        position: absolute;
        right: 12%;
        transform: rotate(180deg);
        transition: all .25s ease-out;

        @include screen(tablet) {
          right: 8%;
        }

        @include screen(desktop) {
          right: 4%;
        }
      }
    }
  }

  &__body {
    margin-bottom: 10px;
    padding: 16px;
    position: relative;
  }

  &__feature {
    display: flex;
    list-style: none;
    min-width: 360px;
    padding: 16px 8px 16px 0;

    &-icon {
      position: relative;
      top: -8px;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.40817 11.7417C8.37234 11.7813 8.33894 11.8231 8.30817 11.8667C8.27664 11.9132 8.25141 11.9636 8.23317 12.0167C8.20915 12.064 8.1923 12.1145 8.18317 12.1667C8.17908 12.2222 8.17908 12.2779 8.18317 12.3334C8.18036 12.4427 8.20319 12.5512 8.24984 12.6501C8.28727 12.7535 8.34698 12.8474 8.42475 12.9252C8.50251 13.0029 8.59643 13.0627 8.69984 13.1001C8.79959 13.1442 8.90745 13.1669 9.01651 13.1669C9.12557 13.1669 9.23342 13.1442 9.33317 13.1001C9.43659 13.0627 9.5305 13.0029 9.60827 12.9252C9.68604 12.8474 9.74575 12.7535 9.78317 12.6501C9.82018 12.5488 9.83716 12.4412 9.83317 12.3334C9.83381 12.2237 9.81279 12.115 9.77132 12.0135C9.72985 11.912 9.66874 11.8196 9.59151 11.7417C9.51404 11.6636 9.42187 11.6016 9.32032 11.5593C9.21877 11.517 9.10985 11.4952 8.99984 11.4952C8.88983 11.4952 8.78091 11.517 8.67936 11.5593C8.57781 11.6016 8.48564 11.6636 8.40817 11.7417ZM8.99984 0.666748C7.35166 0.666748 5.7405 1.15549 4.37009 2.07117C2.99968 2.98685 1.93158 4.28834 1.30084 5.81105C0.670115 7.33377 0.505087 9.00933 0.82663 10.6258C1.14817 12.2423 1.94185 13.7272 3.10728 14.8926C4.27272 16.0581 5.75758 16.8517 7.37409 17.1733C8.9906 17.4948 10.6662 17.3298 12.1889 16.6991C13.7116 16.0683 15.0131 15.0002 15.9288 13.6298C16.8444 12.2594 17.3332 10.6483 17.3332 9.00008C17.3332 7.90573 17.1176 6.8221 16.6988 5.81105C16.28 4.80001 15.6662 3.88135 14.8924 3.10752C14.1186 2.3337 13.1999 1.71987 12.1889 1.30109C11.1778 0.882296 10.0942 0.666748 8.99984 0.666748ZM8.99984 15.6667C7.6813 15.6667 6.39237 15.2758 5.29604 14.5432C4.19971 13.8107 3.34523 12.7695 2.84064 11.5513C2.33606 10.3331 2.20404 8.99269 2.46127 7.69948C2.71851 6.40627 3.35345 5.21839 4.2858 4.28604C5.21815 3.35369 6.40603 2.71875 7.69924 2.46151C8.99245 2.20428 10.3329 2.3363 11.5511 2.84088C12.7692 3.34547 13.8104 4.19995 14.543 5.29628C15.2755 6.39261 15.6665 7.68154 15.6665 9.00008C15.6665 10.7682 14.9641 12.4639 13.7139 13.7141C12.4636 14.9644 10.768 15.6667 8.99984 15.6667ZM8.99984 4.83342C8.56073 4.83313 8.12929 4.94852 7.74893 5.16795C7.36858 5.38739 7.05273 5.70313 6.83317 6.08342C6.77288 6.17826 6.73239 6.28433 6.71415 6.39523C6.69591 6.50613 6.70029 6.61957 6.72703 6.72874C6.75377 6.8379 6.80231 6.94053 6.86974 7.03044C6.93717 7.12036 7.0221 7.19571 7.1194 7.25195C7.2167 7.3082 7.32438 7.34418 7.43595 7.35773C7.54752 7.37128 7.66068 7.36213 7.76862 7.33081C7.87656 7.2995 7.97705 7.24667 8.06405 7.17551C8.15104 7.10436 8.22275 7.01634 8.27484 6.91675C8.34826 6.78958 8.45398 6.68407 8.5813 6.6109C8.70861 6.53773 8.853 6.4995 8.99984 6.50008C9.22085 6.50008 9.43282 6.58788 9.5891 6.74416C9.74538 6.90044 9.83317 7.1124 9.83317 7.33342C9.83317 7.55443 9.74538 7.76639 9.5891 7.92267C9.43282 8.07895 9.22085 8.16675 8.99984 8.16675C8.77883 8.16675 8.56687 8.25455 8.41059 8.41083C8.25431 8.56711 8.16651 8.77907 8.16651 9.00008V9.83342C8.16651 10.0544 8.25431 10.2664 8.41059 10.4227C8.56687 10.579 8.77883 10.6667 8.99984 10.6667C9.22085 10.6667 9.43282 10.579 9.5891 10.4227C9.74538 10.2664 9.83317 10.0544 9.83317 9.83342V9.68341C10.3843 9.48343 10.8476 9.0961 11.1421 8.58914C11.4367 8.08217 11.5436 7.48782 11.4443 6.90999C11.3451 6.33216 11.0458 5.8076 10.599 5.42801C10.1522 5.04843 9.58613 4.83796 8.99984 4.83342Z' fill='%23546071'/%3e%3c/svg%3e");
        margin-right: 0.5rem;
        position: relative;
        transition: all 0.6s;
      }
    }

    &-detail {
      &:not(.showme) {
        display: none;

        @include screen(desktop) {
          display: table-cell;
        }
      }
    }
  }

  &__item {
    border-bottom: 1px solid rgba(17, 26, 104, .1);
    color: var(--as-color-secondary);
    margin: 0 10px;
    padding: 16px 0;
    width: 90px;

    @include screen(tablet) {
      width: 100%;
    }

    @include screen(desktop) {
      width: 180px;
    }

    &-demo {
      color: var(--as-color-blue);
      font-weight: 600;

      &:hover {
        color: var(--as-color-blue-dark);
      }
    }

    &-not {
      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.40994 6.99994L12.7099 2.70994C12.8982 2.52164 13.004 2.26624 13.004 1.99994C13.004 1.73364 12.8982 1.47825 12.7099 1.28994C12.5216 1.10164 12.2662 0.99585 11.9999 0.99585C11.7336 0.99585 11.4782 1.10164 11.2899 1.28994L6.99994 5.58994L2.70994 1.28994C2.52164 1.10164 2.26624 0.99585 1.99994 0.99585C1.73364 0.99585 1.47824 1.10164 1.28994 1.28994C1.10164 1.47825 0.995847 1.73364 0.995847 1.99994C0.995847 2.26624 1.10164 2.52164 1.28994 2.70994L5.58994 6.99994L1.28994 11.2899C1.19621 11.3829 1.12182 11.4935 1.07105 11.6154C1.02028 11.7372 0.994141 11.8679 0.994141 11.9999C0.994141 12.132 1.02028 12.2627 1.07105 12.3845C1.12182 12.5064 1.19621 12.617 1.28994 12.7099C1.3829 12.8037 1.4935 12.8781 1.61536 12.9288C1.73722 12.9796 1.86793 13.0057 1.99994 13.0057C2.13195 13.0057 2.26266 12.9796 2.38452 12.9288C2.50638 12.8781 2.61698 12.8037 2.70994 12.7099L6.99994 8.40994L11.2899 12.7099C11.3829 12.8037 11.4935 12.8781 11.6154 12.9288C11.7372 12.9796 11.8679 13.0057 11.9999 13.0057C12.132 13.0057 12.2627 12.9796 12.3845 12.9288C12.5064 12.8781 12.617 12.8037 12.7099 12.7099C12.8037 12.617 12.8781 12.5064 12.9288 12.3845C12.9796 12.2627 13.0057 12.132 13.0057 11.9999C13.0057 11.8679 12.9796 11.7372 12.9288 11.6154C12.8781 11.4935 12.8037 11.3829 12.7099 11.2899L8.40994 6.99994Z' fill='%23F43636'/%3e%3c/svg%3e");
        margin-right: .5rem;
        position: relative;
        transition: all .6s;
        width: 155px;
      }
    }

    &-check {
      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13.7 1.1999C13.3 0.799902 12.7 0.799902 12.3 1.1999L4.8 8.6999L1.7 5.5999C1.3 5.1999 0.7 5.1999 0.3 5.5999C-0.1 5.9999 -0.1 6.5999 0.3 6.9999L4.1 10.7999C4.3 10.9999 4.5 11.0999 4.8 11.0999C5.1 11.0999 5.3 10.9999 5.5 10.7999L13.7 2.5999C14.1 2.1999 14.1 1.5999 13.7 1.1999Z' fill='%2300BFA6'/%3e%3c/svg%3e");
        margin-right: .5rem;
        position: relative;
        transition: all .6s;
        width: 155px;
      }
    }
  }

  &__list {
    td:nth-child(even) {
      background: var(--as-color-blue-light);
    }

    &-item {
      color: var(--as-color-secondary);
      width: 200px;

      @include screen(tablet) {
        width: 370px;
      }

      @include screen(desktop) {
        width: 365px;
        padding-right: 4rem;
      }
    }
  }

  &__arrow {
    &-right {
      position: absolute;
      right: 36px;
      top: 120px;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.54071 6.29004L1.88071 0.640037C1.78775 0.546308 1.67715 0.471914 1.55529 0.421145C1.43343 0.370377 1.30273 0.344238 1.17071 0.344238C1.0387 0.344238 0.907997 0.370377 0.786138 0.421145C0.664278 0.471914 0.553677 0.546308 0.460714 0.640037C0.274463 0.827399 0.169922 1.08085 0.169922 1.34504C0.169922 1.60922 0.274463 1.86267 0.460714 2.05004L5.41071 7.05004L0.460714 12C0.274463 12.1874 0.169922 12.4409 0.169922 12.705C0.169922 12.9692 0.274463 13.2227 0.460714 13.41C0.553329 13.5045 0.663774 13.5797 0.785649 13.6312C0.907525 13.6827 1.03841 13.7095 1.17071 13.71C1.30302 13.7095 1.4339 13.6827 1.55578 13.6312C1.67765 13.5797 1.7881 13.5045 1.88071 13.41L7.54071 7.76004C7.64222 7.66639 7.72323 7.55274 7.77864 7.42624C7.83404 7.29974 7.86265 7.16314 7.86265 7.02504C7.86265 6.88693 7.83404 6.75033 7.77864 6.62383C7.72323 6.49733 7.64222 6.38368 7.54071 6.29004Z' fill='%23007AFF'/%3e%3c/svg%3e");
        position: relative;
        transition: all .6s;
      }

      @include screen(desktop) {
        display: none;
      }
    }

    &-left {
      left: 36px;
      position: absolute;
      top: 120px;

      &::before {
        content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.2908 6.00019L6.8308 2.46019C7.01705 2.27283 7.12159 2.01938 7.12159 1.75519C7.12159 1.49101 7.01705 1.23756 6.8308 1.05019C6.73783 0.956464 6.62723 0.88207 6.50537 0.831301C6.38352 0.780533 6.25281 0.754395 6.1208 0.754395C5.98879 0.754395 5.85808 0.780533 5.73622 0.831301C5.61436 0.88207 5.50376 0.956464 5.4108 1.05019L1.1708 5.29019C1.07707 5.38316 1.00268 5.49376 0.951907 5.61562C0.901138 5.73747 0.875 5.86818 0.875 6.00019C0.875 6.1322 0.901138 6.26291 0.951907 6.38477C1.00268 6.50663 1.07707 6.61723 1.1708 6.71019L5.4108 11.0002C5.50424 11.0929 5.61505 11.1662 5.73689 11.216C5.85873 11.2657 5.98919 11.291 6.1208 11.2902C6.2524 11.291 6.38287 11.2657 6.5047 11.216C6.62654 11.1662 6.73736 11.0929 6.8308 11.0002C7.01705 10.8128 7.12159 10.5594 7.12159 10.2952C7.12159 10.031 7.01705 9.77756 6.8308 9.59019L3.2908 6.00019Z' fill='%23007AFF'/%3e%3c/svg%3e");
        position: relative;
        transition: all .6s;
      }

      @include screen(desktop) {
        display: none;
      }
    }
  }

  &__package {
    display: flex;
    justify-content: center;

    @include screen(desktop) {
      justify-content: flex-end;
    }

    &-wrapper {
      text-align: center;

      @include screen(desktop) {
        text-align: left;
      }

      &:not(.showme) {
        display: none;

        @include screen(desktop) {
          display: unset;
          padding-right: 30px;
          padding-left: 30px;
        }
      }

      &.showme {
        @include screen(desktop) {
          padding-right: 30px;
          padding-left: 30px;
        }
      }
    }

    &-title {
      @include font-size('18');
      font-weight: 700;
      margin-bottom: 8px;
    }

    &-price {
      @include font-size('18');
      font-weight: 700;
      color: var(--as-color-secondary);
      padding-right: 4px;

      &::after {
        @include font-size('14');
        bottom: 0;
        content: " /bulan";
        font-weight: 500;
        right: 0;
      }
    }

    &-name {
      @include font-size('18');
      font-weight: 700;
      color: var(--as-color-secondary);
    }

    &-button {
      border-radius: 30px;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 10px 36px;
    }
  }
}
