@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.as-card-events {
  @extend %card-placeholder;
  height: auto;
  padding: 0;
  width: 100%;

  @include screen(ipadPro) {
    height: auto;
    width: 100%;
  }

  @include screen(desktopLarge) {
    height: 725px;
    width: 360px;
  }

  &--before {
    height: auto;
    width: 100%;

    @include screen(ipadPro) {
      height: auto;
      width: 100%;
    }

    @include screen(desktopLarge) {
      height: 685px;
    }
  }

  &__image {
    border-radius: 1rem 1rem 0 0;
    height: 360px;
    width: 100%;

    @include screen(ipadPro) {
      height: auto;
      width: 100%;
    }

    @include screen(desktopLarge) {
      width: 360px;
    }
  }

  &__wrapper {
    padding: 1.5rem;
  }

  &__title {
    @include font-size('16');
    color: var(--as-color-blue);
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__description {
    @include font-size('18');
    color: var(--as-color-primary);
    font-weight: 600;
    height: 110px;
    margin-bottom: 1.5rem;
    padding-right: 1rem;

    @include screen(mobileSmall) {
      height: auto;
    }
  }

  &__date {
    @include font-size('14');
    color: var(--as-color-secondary-two);
    margin-bottom: 1.5rem;

    &::before {
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.25 7.25H8.75V4.25C8.75 4.05109 8.67099 3.86032 8.53033 3.71967C8.38968 3.57902 8.19892 3.5 8 3.5C7.80109 3.5 7.61033 3.57902 7.46967 3.71967C7.32902 3.86032 7.25 4.05109 7.25 4.25V8C7.25 8.19891 7.32902 8.38968 7.46967 8.53033C7.61033 8.67098 7.80109 8.75 8 8.75H10.25C10.4489 8.75 10.6397 8.67098 10.7803 8.53033C10.921 8.38968 11 8.19891 11 8C11 7.80109 10.921 7.61032 10.7803 7.46967C10.6397 7.32902 10.4489 7.25 10.25 7.25ZM8 0.5C6.51664 0.5 5.0666 0.939867 3.83323 1.76398C2.59986 2.58809 1.63856 3.75943 1.07091 5.12987C0.50325 6.50032 0.354725 8.00832 0.644114 9.46318C0.933503 10.918 1.64781 12.2544 2.6967 13.3033C3.7456 14.3522 5.08197 15.0665 6.53683 15.3559C7.99168 15.6453 9.49968 15.4968 10.8701 14.9291C12.2406 14.3614 13.4119 13.4001 14.236 12.1668C15.0601 10.9334 15.5 9.48336 15.5 8C15.5 7.01509 15.306 6.03982 14.9291 5.12987C14.5522 4.21993 13.9997 3.39314 13.3033 2.6967C12.6069 2.00026 11.7801 1.44781 10.8701 1.0709C9.96019 0.693993 8.98492 0.5 8 0.5ZM8 14C6.81332 14 5.65328 13.6481 4.66658 12.9888C3.67989 12.3295 2.91085 11.3925 2.45673 10.2961C2.0026 9.19974 1.88378 7.99334 2.11529 6.82946C2.3468 5.66557 2.91825 4.59647 3.75736 3.75736C4.59648 2.91824 5.66558 2.3468 6.82946 2.11529C7.99335 1.88378 9.19975 2.0026 10.2961 2.45672C11.3925 2.91085 12.3295 3.67988 12.9888 4.66658C13.6481 5.65327 14 6.81331 14 8C14 9.5913 13.3679 11.1174 12.2426 12.2426C11.1174 13.3679 9.5913 14 8 14Z' fill='%237F8895'/%3E%3C/svg%3E");
      margin-right: 8px;
      position: relative;
      top: 3px;
    }
  }

  &__action {
    align-items: center;
    border-top: 1px solid var(--as-color-gray);
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    @include screen(mobileSmall) {
      display: block;
    }

    &--text {
      @include font-size('20');
      color: var(--as-color-primary);
      font-weight: 800;
      font-size: clamp(.875rem, 5vw, 1rem);
      text-transform: uppercase;
    }

    &--button {
      margin-top: 10px;
      padding: 0.5rem 1rem;
      width: 100%;
    
      @include screen(desktop) {
        padding: 0.5rem 2.25rem;
        width: auto;
        
        &-detail {
          padding: .5rem 2.25rem;
        }
  
        &-watch {
          padding: .5rem 1.5rem
        }
      }
    }
  }
}

.event {
  &-more {
      color: #007aff;
      cursor: pointer;
      font-size: clamp(0.875rem, 5vw, 1rem);
      font-weight: 700;
      margin-top: 40px;
      
      &[aria-expanded=true] {
          &::after {
              content: url("../icons/down.svg");
              padding-left: 10px;
          }
      }

      &[aria-expanded=false] {
          &::after {
              content: url("../icons/up.svg");
              padding-left: 10px;
          }
      }
  }
}