@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.card-image {
  background-color: var(--as-color-gray);
  padding: 30px 0;

  @include screen(desktop) {
    padding: 80px 0;
  }

  &__item {
    display: inline-flex;
    height: auto;
    min-height: 150px;
    width: 100%;

    @include screen(desktop) {
      width: 85%;
    }

    &-wrapper {
      padding: 30px 0;

      @include screen(desktop) {
        margin: auto 8px;
      }
    }

    &--number {
      @include font-size('18-semibold');
      color: var(--as-color-secondary-two);
      margin: auto 5px;
      width: 5%;
    }

    &--icon {
      background-color: var(--as-color-white);
      box-shadow: $as-shadow-black-1;
      border-radius: 12px;
      margin: auto 20px;
      padding: 20px;
      width: auto;
    }

    &--title {
      @include font-size('18-semibold');
      margin-bottom: 0.75rem;
    }

    &--description {
      @include font-size('20');
      color: var(--as-color-secondary);
      margin-top: 0;
      margin-bottom: 0;

      &--md {
        @include font-size('16');
        color: var(--as-color-secondary-two);
      }
    }
  }
}
