@use '../mixins/breakpoint' as *;

.as-card-slider {
  &__control {
    line-height: 3.5rem;

    &-icon {
      cursor: pointer;
      font-size: clamp(1.625rem, 5vw, 1.5rem);
      height: 28px;
      width: 28px;

      &.active {
        opacity: 0.08;
        pointer-events: none;
      }

      &--left {
        &::before {
          content: url("data:image/svg+xml,%3Csvg width='28' height='30' viewBox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.6668 12.6667H7.95675L15.6568 4.99003C16.0961 4.55065 16.343 3.95473 16.343 3.33336C16.343 2.71199 16.0961 2.11607 15.6568 1.67669C15.2174 1.23732 14.6215 0.990479 14.0001 0.990479C13.3787 0.990479 12.7828 1.23732 12.3434 1.67669L0.67675 13.3434C0.464322 13.5653 0.297804 13.8269 0.18675 14.1134C-0.0466251 14.6814 -0.0466251 15.3186 0.18675 15.8867C0.297804 16.1731 0.464322 16.4348 0.67675 16.6567L12.3434 28.3234C12.5603 28.5421 12.8184 28.7156 13.1027 28.8341C13.3871 28.9526 13.6921 29.0136 14.0001 29.0136C14.3081 29.0136 14.6131 28.9526 14.8974 28.8341C15.1818 28.7156 15.4398 28.5421 15.6568 28.3234C15.8755 28.1064 16.049 27.8484 16.1675 27.564C16.286 27.2797 16.3469 26.9747 16.3469 26.6667C16.3469 26.3587 16.286 26.0537 16.1675 25.7693C16.049 25.485 15.8755 25.2269 15.6568 25.01L7.95675 17.3334H25.6668C26.2856 17.3334 26.8791 17.0875 27.3167 16.6499C27.7543 16.2124 28.0001 15.6189 28.0001 15C28.0001 14.3812 27.7543 13.7877 27.3167 13.3501C26.8791 12.9125 26.2856 12.6667 25.6668 12.6667Z' fill='%2329384E'/%3E%3C/svg%3E%0A");
          margin-right: 36px;
        }
      }

      &--right {
        &::before {
          content: url("data:image/svg+xml,%3Csvg width='28' height='30' viewBox='0 0 28 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.8133 14.1134C27.7023 13.8269 27.5358 13.5653 27.3233 13.3434L15.6567 1.67669C15.4391 1.45914 15.1808 1.28656 14.8966 1.16882C14.6123 1.05108 14.3077 0.990479 14 0.990479C13.3786 0.990479 12.7827 1.23732 12.3433 1.67669C12.1258 1.89425 11.9532 2.15253 11.8355 2.43678C11.7177 2.72103 11.6571 3.02569 11.6571 3.33336C11.6571 3.95473 11.904 4.55065 12.3433 4.99003L20.0433 12.6667H2.33333C1.71449 12.6667 1.121 12.9125 0.683418 13.3501C0.245833 13.7877 0 14.3812 0 15C0 15.6189 0.245833 16.2124 0.683418 16.6499C1.121 17.0875 1.71449 17.3334 2.33333 17.3334H20.0433L12.3433 25.01C12.1246 25.2269 11.951 25.485 11.8326 25.7693C11.7141 26.0537 11.6531 26.3587 11.6531 26.6667C11.6531 26.9747 11.7141 27.2797 11.8326 27.564C11.951 27.8484 12.1246 28.1064 12.3433 28.3234C12.5602 28.5421 12.8183 28.7156 13.1027 28.8341C13.387 28.9526 13.692 29.0136 14 29.0136C14.308 29.0136 14.613 28.9526 14.8973 28.8341C15.1817 28.7156 15.4398 28.5421 15.6567 28.3234L27.3233 16.6567C27.5358 16.4348 27.7023 16.1731 27.8133 15.8867C28.0467 15.3186 28.0467 14.6814 27.8133 14.1134Z' fill='%2329384E'/%3E%3C/svg%3E%0A");
        }
      }
    }

    .fa-arrow-left {
      margin-right: 36px;
    }

    @include screen(desktop) {
      display: block;
      margin-top: 54px;
    }
  }

  &__content {
    &-wrapper {
      margin-top: 75px;
  
     @include screen(desktop) {
        margin-top: 102px;
      }
    }

    &-icon {
      margin-bottom: 26px;
      width: auto;
    }

    &-title {
      color: #29384e;
      font-family: NunitSansBold, sans-serif;
      font-size: clamp(1.125rem, 5vw, 1.125rem);
      font-weight: 700;
      letter-spacing: 0.02em;
      line-height: 27px;
      margin-bottom: 12px;
    }

    &-details {
      color: #29384e;
      font-family: NunitoSansRegular, sans-serif;
      font-size: clamp(.875rem, 5vw, .875rem);
      font-weight: normal;
      letter-spacing: 0.005em;
      line-height: 24px;
      padding-left: 18px;
    }
  }
}