@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.as-hero {
  color: var(--as-color-white);
  margin-top: 3rem;
  overflow: hidden;

  @include screen(desktop) {
    margin-top: 4rem;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    height: auto;
    margin-bottom: 1.5rem;
    justify-content: center;

    @include screen(desktop) {
      margin-bottom: 2rem;
      min-height: 450px;
    }
  }

  &__title {
    @include font-size('40');
    margin-bottom: 1.5rem;

    &--md {
      @include font-size('40');
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    @include font-size('16');
    color: var(--as-color-white)-soft;
    margin-bottom: 2.25rem;

    &--sm {
      @include font-size('14');
    }
  }

  &__button {
    margin-bottom: 0;
    padding: 0.625rem 2rem;

    @include screen(desktop) {
      margin-bottom: 3rem;
      padding: 0.625rem 4rem;
    }

    &--mobile-fullwidth {
     @include screen(mobile) {
        width: 100% !important;
      }
    }
  }

  &__image {
    height: auto;
    margin-top: 4rem;
    width: 100%;

    @include screen(desktop) {
      margin-top: 0;
    }
  }

  &__list {
    display: grid;
    gap: 1rem;
    list-style-type: none;
    margin: 1rem 1.5rem;

    @include screen(desktop) {
      display: flex;
      justify-content: space-around;
    }

    &-item {
      @include font-size('16');
      color: var(--as-color-white);
      position: relative;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C6.51664 0 5.0666 0.439867 3.83323 1.26398C2.59986 2.08809 1.63856 3.25943 1.07091 4.62987C0.50325 6.00032 0.354725 7.50832 0.644114 8.96318C0.933503 10.418 1.64781 11.7544 2.6967 12.8033C3.7456 13.8522 5.08197 14.5665 6.53683 14.8559C7.99168 15.1453 9.49968 14.9968 10.8701 14.4291C12.2406 13.8614 13.4119 12.9001 14.236 11.6668C15.0601 10.4334 15.5 8.98336 15.5 7.5C15.4977 5.51157 14.7068 3.60524 13.3008 2.19921C11.8948 0.793181 9.98843 0.00227483 8 0ZM11.9053 5.70996L7.26463 10.3506C7.195 10.4202 7.11234 10.4755 7.02135 10.5132C6.93037 10.5509 6.83284 10.5703 6.73436 10.5703C6.63587 10.5703 6.53834 10.5509 6.44736 10.5132C6.35637 10.4755 6.27371 10.4202 6.20408 10.3506L4.09475 8.24121C3.95558 8.10028 3.87781 7.91 3.87843 7.71193C3.87905 7.51386 3.958 7.32408 4.09806 7.18401C4.23811 7.04395 4.42789 6.96499 4.62597 6.96436C4.82404 6.96373 5.01431 7.04149 5.15525 7.18067L6.73436 8.75977L10.8448 4.64942C10.9857 4.51024 11.176 4.43248 11.374 4.43311C11.5721 4.43374 11.7619 4.5127 11.9019 4.65276C12.042 4.79283 12.121 4.98261 12.1216 5.18068C12.1222 5.37875 12.0444 5.56903 11.9053 5.70996Z' fill='white'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: -30px;
        top: 2px;
      }
    }
  }

  &__feature-list {
    color: var(--as-color-white);
    list-style-type: none;
    margin-top: 2rem;

    &-title {
      color: var(--as-color-white);
      @include font-size('18-semibold');
      line-height: 1.625rem;
      text-align: left;
    }

    &-item {
      margin-bottom: 1rem;
      position: relative;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9999 0.333374C9.69248 0.333374 7.43684 1.01761 5.51827 2.29956C3.5997 3.58151 2.10435 5.4036 1.22133 7.5354C0.338307 9.6672 0.107268 12.013 0.557429 14.2761C1.00759 16.5392 2.11873 18.618 3.75034 20.2496C5.38196 21.8812 7.46076 22.9924 9.72387 23.4425C11.987 23.8927 14.3328 23.6617 16.4646 22.7786C18.5964 21.8956 20.4185 20.4003 21.7004 18.4817C22.9823 16.5631 23.6666 14.3075 23.6666 12C23.663 8.90693 22.4328 5.94153 20.2456 3.75437C18.0584 1.56721 15.093 0.336913 11.9999 0.333374ZM18.0748 9.21553L10.856 16.4343C10.7477 16.5426 10.6191 16.6286 10.4776 16.6872C10.336 16.7459 10.1843 16.7761 10.0311 16.7761C9.87794 16.7761 9.72623 16.7459 9.5847 16.6872C9.44316 16.6286 9.31457 16.5426 9.20627 16.4343L5.92509 13.153C5.70859 12.9338 5.58762 12.6378 5.58858 12.3297C5.58954 12.0216 5.71237 11.7264 5.93023 11.5085C6.14809 11.2906 6.44331 11.1678 6.75142 11.1668C7.05953 11.1658 7.35552 11.2868 7.57476 11.5033L10.0311 13.9597L16.4251 7.5658C16.6443 7.34931 16.9403 7.22835 17.2484 7.22932C17.5565 7.2303 17.8518 7.35313 18.0696 7.57101C18.2875 7.78888 18.4103 8.0841 18.4113 8.39221C18.4122 8.70032 18.2913 8.9963 18.0748 9.21553Z' fill='white'/%3E%3C/svg%3E%0A");
        left: -40px;
        position: absolute;
        top: 0;
      }
    }
  }

  &--hosting-murah {
   @include screen(mobile) {
      background-image: url(https://niagaspace.sgp1.cdn.digitaloceanspaces.com/assets/images/arunika/hero-hosting-murah-1655094045.webp), linear-gradient(249.77deg, #0094ff -1.99%, #007dff 43.52%, #026ce8 95.86%) !important;
    }

    background-image: url(https://niagaspace.sgp1.digitaloceanspaces.com/www/assets/images/2022/hosting-murah/mobile-hero.webp),
    linear-gradient(249.77deg, #0094ff -1.99%, #007dff 43.52%, #026ce8 95.86%) !important;
    background-position: 50% bottom !important;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}