@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.modal-website {
  @include screen(desktop) {
    &--xxl {
      max-width: 1336px !important;
    }
  }

  &--link {
    color: var(--as-color-blue);
  }

  &__header {
    background: var(--as-color-blue);
    color: var(--as-color-white);
    display: flex;
    justify-content: space-between;
    padding: 16px;

    &--title {
      @include font-size('20-semibold');
    }

    &--control {
      display: flex;

      .modal-website__button {
        background: var(--as-color-soft);
        border-radius: 4px;
        cursor: pointer;
        height: 40px;
        margin-right: 10px;
        opacity: .6;
        padding: 8px 16px 0px 16px;
      }

      .active {
        background: var(--as-color-blue-dark);
        opacity: 1;
      }

      #tablet,
      #mobile {
        &::before {
          content: url("data:image/svg+xml,%0A%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V17C0 17.7956 0.316071 18.5587 0.87868 19.1213C1.44129 19.6839 2.20435 20 3 20H13C13.7956 20 14.5587 19.6839 15.1213 19.1213C15.6839 18.5587 16 17.7956 16 17V3C16 2.20435 15.6839 1.44129 15.1213 0.87868C14.5587 0.316071 13.7956 0 13 0ZM14 17C14 17.2652 13.8946 17.5196 13.7071 17.7071C13.5196 17.8946 13.2652 18 13 18H3C2.73478 18 2.48043 17.8946 2.29289 17.7071C2.10536 17.5196 2 17.2652 2 17V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H13C13.2652 2 13.5196 2.10536 13.7071 2.29289C13.8946 2.48043 14 2.73478 14 3V17ZM8.71 14.29C8.59454 14.1696 8.4508 14.08 8.29186 14.0293C8.13292 13.9787 7.96383 13.9686 7.8 14L7.62 14.06C7.55628 14.0819 7.49574 14.1122 7.44 14.15L7.29 14.27C7.19896 14.3651 7.12759 14.4772 7.08 14.6C7.00342 14.7821 6.9825 14.9828 7.01987 15.1768C7.05725 15.3708 7.15124 15.5494 7.29 15.69C7.38948 15.778 7.5005 15.852 7.62 15.91C7.80306 15.9853 8.00436 16.0046 8.1984 15.9655C8.39244 15.9263 8.57049 15.8304 8.71 15.69C8.89234 15.5062 8.9963 15.2589 9 15C9.00338 14.8688 8.97598 14.7387 8.92 14.62C8.86936 14.4988 8.79833 14.3872 8.71 14.29Z' fill='%2394CCF7'/%3E%3C/svg%3E%0A");
        }
      }

      #dekstop {
        &::before {
          content: url("data:image/svg+xml,%0A%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 0H3C2.20435 0 1.44129 0.316071 0.87868 0.87868C0.316071 1.44129 0 2.20435 0 3V11C0 11.7956 0.316071 12.5587 0.87868 13.1213C1.44129 13.6839 2.20435 14 3 14H9V16H5C4.73478 16 4.48043 16.1054 4.29289 16.2929C4.10536 16.4804 4 16.7348 4 17C4 17.2652 4.10536 17.5196 4.29289 17.7071C4.48043 17.8946 4.73478 18 5 18H15C15.2652 18 15.5196 17.8946 15.7071 17.7071C15.8946 17.5196 16 17.2652 16 17C16 16.7348 15.8946 16.4804 15.7071 16.2929C15.5196 16.1054 15.2652 16 15 16H11V14H17C17.7956 14 18.5587 13.6839 19.1213 13.1213C19.6839 12.5587 20 11.7956 20 11V3C20 2.20435 19.6839 1.44129 19.1213 0.87868C18.5587 0.316071 17.7956 0 17 0ZM18 11C18 11.2652 17.8946 11.5196 17.7071 11.7071C17.5196 11.8946 17.2652 12 17 12H3C2.73478 12 2.48043 11.8946 2.29289 11.7071C2.10536 11.5196 2 11.2652 2 11V3C2 2.73478 2.10536 2.48043 2.29289 2.29289C2.48043 2.10536 2.73478 2 3 2H17C17.2652 2 17.5196 2.10536 17.7071 2.29289C17.8946 2.48043 18 2.73478 18 3V11Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &__content {
    padding: 16px 32px 16px 32px;

    &--rounded {
      border-radius: 16px;
      overflow: hidden;
    }

    @include screen(desktop) {
      padding: 16px 32px 16px 32px;
    }

    &--title {
      @include font-size('20-semibold');
    }

    &--description {
      @include font-size('14');
    }

    &--feature {
      &-item {
        padding: 4px;

        &::before {
          content: url("data:image/svg+xml,%0A%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7 1.1999C13.3 0.799902 12.7 0.799902 12.3 1.1999L4.8 8.6999L1.7 5.5999C1.3 5.1999 0.7 5.1999 0.3 5.5999C-0.1 5.9999 -0.1 6.5999 0.3 6.9999L4.1 10.7999C4.3 10.9999 4.5 11.0999 4.8 11.0999C5.1 11.0999 5.3 10.9999 5.5 10.7999L13.7 2.5999C14.1 2.1999 14.1 1.5999 13.7 1.1999Z' fill='%2300BFA6'/%3E%3C/svg%3E%0A");
          margin-right: 10px;
        }
      }
    }

    &--next-link {
      @include font-size('16-semibold');
      color: var(--as-color-blue);

      &::after {
        content: url("data:image/svg+xml,%0A%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.9599 1.29002C1.7716 1.09641 1.51409 0.985539 1.24404 0.981788C0.97399 0.978037 0.713508 1.08172 0.5199 1.27002C0.326292 1.45833 0.215417 1.71583 0.211666 1.98588C0.207915 2.25593 0.311596 2.51641 0.4999 2.71002L2.8399 5.00002L0.4999 7.29002C0.406171 7.38298 0.331777 7.49359 0.281008 7.61544C0.23024 7.7373 0.204102 7.86801 0.204102 8.00002C0.204102 8.13203 0.23024 8.26274 0.281008 8.3846C0.331777 8.50646 0.406171 8.61706 0.4999 8.71002C0.592863 8.80375 0.703464 8.87814 0.825323 8.92891C0.947182 8.97968 1.07789 9.00582 1.2099 9.00582C1.34191 9.00582 1.47262 8.97968 1.59448 8.92891C1.71634 8.87814 1.82694 8.80375 1.9199 8.71002L4.9199 5.71002C5.01363 5.61706 5.08802 5.50646 5.13879 5.3846C5.18956 5.26274 5.2157 5.13203 5.2157 5.00002C5.2157 4.86801 5.18956 4.7373 5.13879 4.61544C5.08802 4.49359 5.01363 4.38298 4.9199 4.29002L1.9599 1.29002ZM10.4599 4.29002L7.4599 1.29002C7.2716 1.10172 7.0162 0.99593 6.7499 0.99593C6.4836 0.99593 6.2282 1.10172 6.0399 1.29002C5.8516 1.47833 5.74581 1.73372 5.74581 2.00002C5.74581 2.26632 5.8516 2.52172 6.0399 2.71002L8.3399 5.00002L6.0399 7.29002C5.94617 7.38298 5.87178 7.49359 5.82101 7.61544C5.77024 7.7373 5.7441 7.86801 5.7441 8.00002C5.7441 8.13203 5.77024 8.26274 5.82101 8.3846C5.87178 8.50646 5.94617 8.61706 6.0399 8.71002C6.13286 8.80375 6.24346 8.87814 6.36532 8.92891C6.48718 8.97968 6.61789 9.00582 6.7499 9.00582C6.88191 9.00582 7.01262 8.97968 7.13448 8.92891C7.25634 8.87814 7.36694 8.80375 7.4599 8.71002L10.4599 5.71002C10.5563 5.61973 10.6338 5.51123 10.6881 5.3908C10.7423 5.27037 10.7721 5.14039 10.7759 5.00836C10.7796 4.87633 10.7571 4.74488 10.7097 4.62158C10.6624 4.49829 10.5911 4.3856 10.4999 4.29002H10.4599Z' fill='%23007AFF'/%3E%3C/svg%3E%0A");
        margin-left: 15px;
      }
    }
  }

  &__price {
    @include font-size('20-semibold');
    color: var(--as-color-blue);

    &-title {
      @include font-size('14');
      color: var(--as-color-secondary-two);
    }

    &-button {
      height: auto;
      padding: 4px;
    }
  }

  &__preview {
    align-items: start;
    display: flex;
    height: 120%;
    transform: scale(.727);
    transform-origin: 0 0;
    width: 140%;

    &-v2 {
      transform: none;
      width: 100%;
      height: 70vh;
    }

    &-frame {
      border: none;
      min-height: 100%;
      position: relative;
      transform-origin: 0 0;

      &--dekstop {
        width: 1366px;
      }

      &--tablet {
        width: 768px;
      }

      &--mobile {
        width: 425px;
      }
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}