@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.modal-website-mobile {
  height: 100%;
  margin: 0;
  max-width: none;

  &__preview {
    align-items: center;
    display: flex;
    height: 85%;
    justify-content: center;

    &-detail {
      height: 60%;
    }
  }

  &__header {
    background: var(--as-color-blue);
    color: var(--as-color-white);
    padding: 16px;

    &--title {
      @include font-size('20-semibold');
      text-align: center;
    }
  }

  &__footer {
    background: var(--as-color-white);
    bottom: 0px;
    padding: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;

    &--title {
      @include font-size('20-semibold');
      text-align: start;
    }

    &-head {
      position: relative;
    }

    &-action {
      height: 25px;
      position: absolute;
      top: 0;
      right: 10px;
      width: 25px;
    }

    .more {
      &::after {
        content: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9999 6.83C10.8126 7.01625 10.5591 7.12079 10.2949 7.12079C10.0308 7.12079 9.77731 7.01625 9.58995 6.83L5.99995 3.29L2.45995 6.83C2.27259 7.01625 2.01913 7.12079 1.75495 7.12079C1.49076 7.12079 1.23731 7.01625 1.04995 6.83C0.95622 6.73703 0.881826 6.62643 0.831057 6.50457C0.780288 6.38271 0.75415 6.25201 0.75415 6.12C0.75415 5.98798 0.780288 5.85728 0.831057 5.73542C0.881826 5.61356 0.95622 5.50296 1.04995 5.41L5.28995 1.17C5.38291 1.07627 5.49351 1.00187 5.61537 0.951105C5.73723 0.900336 5.86794 0.874198 5.99995 0.874198C6.13196 0.874198 6.26267 0.900336 6.38453 0.951105C6.50638 1.00187 6.61699 1.07627 6.70995 1.17L10.9999 5.41C11.0937 5.50296 11.1681 5.61356 11.2188 5.73542C11.2696 5.85728 11.2957 5.98798 11.2957 6.12C11.2957 6.25201 11.2696 6.38271 11.2188 6.50457C11.1681 6.62643 11.0937 6.73703 10.9999 6.83Z' fill='%2329384E'/%3E%3C/svg%3E%0A");
      }
    }

    .hide-more {
      &::after {
        content: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9999 1.17C10.8126 0.983753 10.5591 0.879211 10.2949 0.879211C10.0308 0.879211 9.77731 0.983753 9.58995 1.17L5.99995 4.71L2.45995 1.17C2.27259 0.983753 2.01913 0.879211 1.75495 0.879211C1.49076 0.879211 1.23731 0.983753 1.04995 1.17C0.95622 1.26297 0.881826 1.37357 0.831057 1.49543C0.780288 1.61729 0.75415 1.74799 0.75415 1.88C0.75415 2.01202 0.780288 2.14272 0.831057 2.26458C0.881826 2.38644 0.95622 2.49704 1.04995 2.59L5.28995 6.83C5.38291 6.92373 5.49351 6.99813 5.61537 7.04889C5.73723 7.09966 5.86794 7.1258 5.99995 7.1258C6.13196 7.1258 6.26267 7.09966 6.38453 7.04889C6.50638 6.99813 6.61699 6.92373 6.70995 6.83L10.9999 2.59C11.0937 2.49704 11.1681 2.38644 11.2188 2.26458C11.2696 2.14272 11.2957 2.01202 11.2957 1.88C11.2957 1.74799 11.2696 1.61729 11.2188 1.49543C11.1681 1.37357 11.0937 1.26297 10.9999 1.17Z' fill='%2329384E'/%3E%3C/svg%3E%0A");
        ;
      }
    }
  }

  .close {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 15px;
  }
}