@use '../mixins/breakpoint' as *;

.as-domain {
  background: #f5faff;
  color: #29384e;
  height: auto;
  padding: 90px;
  text-align: center;
  width: 100%;

 @include screen(mobile) {
    padding: 40px 20px;
    text-align: left;
  }

  &__tld {
    color: #535961;
    font-family: "NunitoSansBold", sans-serif;
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 1.688rem;
    padding: 5px;

    @media only screen and (max-width: 320px) {
      font-size: clamp(1rem, 5vw, 1.25rem);
    }

    &-wrapper {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-top: 20px;

     @include screen(mobile) {
        display: grid;
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
      }
    }
  }

  &__price {
    color: #535961;
    font-family: "NunitoSansRegular", sans-serif;
    font-size: clamp(0.75rem, 5vw, 0.875rem);
    letter-spacing: 0.004em;
    line-height: 1rem;

    @media only screen and (max-width: 320px) {
      font-size: clamp(0.625rem, 5vw, 0.625rem);
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      display: inline-block;
    }
  }
}

.find-domain {
  background: #fff;
  padding-bottom: 40px;
  padding-top: 44px;
  width: 100%;

  &__form {
    float: none;
    margin-top: 36px;
    padding: 0 5px;
    width: 100%;

   @include screen(desktop) {
      float: none;
      margin-top: 0;
      width: auto;
    }

    input[type=text] {
      border: 1px solid #c4c4c4;
      border-radius: 24px;
      color: #535961;
      display: block;
      font-size: clamp(0.875rem, 5vw, 0.875rem);
      height: 48px;
      letter-spacing: .005em;
      margin-bottom: 10px;
      margin-right: 5px;
      min-width: auto;
      position: relative;
      text-align: center;
      top: -4px;
      width: 100%;

      @media screen and (min-width: 480px) {
        display: inline-block;
        margin-bottom: 0;
        width: calc(100% - 190px);
      }

      @media only screen and (max-width: 320px) {
        font-size: clamp(0.75rem, 5vw, 0.75rem);
      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        margin-bottom: 10px;
        width: 65%;
      }

     @include screen(desktop) {
        display: block;
        margin-right: 16px;
        min-width: 290px;
        padding-left: 30px;
        text-align: left;
        width: auto;
      }

      @include screen(desktopLarge) {
        padding-left: 30px;
        text-align: left;
        min-width: 500px;
      }
    }

    button[type=submit] {
      border-radius: 25px;
      color: #fff;
      display: block;
      float: none;
      height: 50px;
      line-height: 3.2;
      margin-left: auto;
      padding: 0 70px;
      width: 100%;

      @media screen and (min-width: 480px) {
        display: inline-block;
        width: auto;
      }

      @include screen(desktop) {
        display: block;
        float: none;
      }
    }
  }

  &__button {
    margin-bottom: 10px;

    @include screen(desktop) {
      display: block;
      width: 100%;
    }
  }
}