@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.as-tab {
  &__navigation {
    justify-content: space-between;

    &--flex {
      flex-direction: row;
      gap: 1rem;
    }

    &--column {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__collapse {
    cursor: pointer;
    border-top: 2px solid var(--as-color-blue);
    box-shadow: 0px 8px 2rem rgba(0, 87, 178, 0.16);
    box-sizing: border-box;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    text-align: left;

    @include screen(desktop) {
      flex-direction: row;
    }

    &.collapsed {
      border: 1px solid var(--as-color-divider);
      box-shadow: unset;
    }

    &--image {
      background: var(--as-color-blue-light);
      border-radius: 0.75rem;
      height: 4.5rem;
      padding: 0.75rem;
      width: 4.5rem;
    }

    &--title {
      @include font-size('20-semibold');
    }

    &--description {
      @include font-size('16');
      color: var(--as-color-secondary);
      margin-top: 1.5rem;

      @include screen(desktop) {
        margin-top: 0.75rem;
      }
    }

    &--illustration {
      display: none;
      position: absolute;
      top: 20%;
      right: 0;

      @include screen(desktop) {
        display: block;

        img {
          width: 31.25rem;
        }
      }

      @include screen(desktopLarge) {
        img {
          width: 37.5rem;
        }
      }

      @include screen(desktopExtra) {
        img {
          width: unset;
        }
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    background: var(--as-color-soft);
    border-radius: 12px;
    color: var(--as-color-secondary-two);
    height: 100px;
    margin-bottom: 1rem;
    max-width: 255px;
    mix-blend-mode: multiply;
    padding: 1rem 1.5rem;
    position: relative;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: var(--as-color-secondary-two);
    }

    @include screen(desktop) {
      height: auto;
      margin-bottom: 0;
      width: auto;
    }

    &.active {
      background: var(--as-color-white);
      box-shadow: 0px 8px 32px rgba(0, 87, 178, 0.16);
      color: var(--as-color-primary);
      mix-blend-mode: normal;

      &::before {
        opacity: 1;
      }

      .as-tab__menu--title,
      .as-tab__menu--image {
        filter: grayscale(0);
        opacity: 1;
      }
    }

    &--image {
      filter: grayscale(1);
      height: 45px;
      margin-right: 20px;
      opacity: .4;
      width: 45px;
    }

    &--title {
      @include font-size('14-semibold');
      opacity: .4;

      &-md {
        @include font-size('16-semibold');
      }
    }

    &--flex {
      &::before {
        animation-name: fade;
        animation-duration: 2s;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid var(--as-color-white);
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        right: 45%;
        top: 51%;
        transform: translateY(350%);
        z-index: 1;
      }
    }

    &--column {
      &::before {
        background-color: inherit;
        border: inherit;
        border-radius: 0 0 0 6px;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        content: "";
        display: block;
        height: 36px;
        opacity: 0;
        position: absolute;
        right: -90px;
        top: calc(50% - 15px);
        transform: translateY(-50%);
        transform: rotate(45deg);
        width: 36px;
        z-index: 1;
      }
    }
  }

  &__pane {
    background: var(--as-color-white);
    border-radius: 1.5rem;
    box-shadow: 0 8px 32px rgba(0, 87, 178, .16);
    height: auto;
    padding: 2.25rem;
    width: auto;
  }

  &__content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 24px 0;

    &--item {
      text-align: left;
      margin-bottom: 2.5rem;
      width: 95%;
    }

    &--image {
      aspect-ratio: 1/1;
      height: 48px;
      margin-bottom: 2rem;
      width: 48px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--title {
      @include font-size('20-semibold');
      margin-bottom: 1rem;
    }

    &--description {
      @include font-size('16');
      color: rgba(58, 65, 102, .7);
    }
  }

  &--flex {
    display: none;
    visibility: hidden;

    @include screen(desktop) {
      display: block;
      visibility: visible;
    }
  }

  &--column {
    display: block;
    visibility: visible;

    @include screen(desktop) {
      display: none;
      visibility: hidden;
    }
  }
}