@use '../mixins/breakpoint' as *;
@use '../variables/font-size' as *;
@use '../mixins/font' as *;

.as-table-card {
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__wrapper {
    border: 0;
    border-bottom: 1px solid var(--as-color-border);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 2rem 0;

    @include screen(desktop) {
      border: 1px solid var(--as-color-border);
      border-bottom: 0;
      padding: 2rem;

      &:first-child {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      &:last-child {
        border-bottom: 1px solid var(--as-color-border);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }

  &__content {
    align-self: center;
    padding: 0;

    @include screen(desktop) {
      padding-left: 2.5rem;
    }

    &:first-child {
      border-right: 0;
      padding: 1rem 0;

      @include screen(desktop) {
        border-right: 1px solid var(--as-color-border);
        padding: 3rem 0;
      }
    }

    &--domain {
      @include font-size('28-semibold');
      background-color: var(--as-color-gray);
      border-radius: 8px;
      overflow-wrap: break-word;
      padding: 0.875rem 1.5rem;
      width: fit-content;
    }

    &--list {
      list-style-type: none;
      margin: 0;

      &-item {
        @include font-size('14');
        position: relative;
        padding: 10px 0 10px 0;
        text-align: left;

        &::before {
          content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='11' cy='10.951' r='10.5' fill='%2300BFA6'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.834 14.716l-2.4-2.4a.8.8 0 1 1 1.131-1.131l1.789 1.789 5.038-5.744a.799.799 0 1 1 1.215 1.04l-5.6 6.4a.8.8 0 0 1-.577.28.814.814 0 0 1-.596-.234z' fill='%23fff'/%3e%3c/svg%3e");
          left: -35px;
          padding: 10px 0 0 0;
          position: absolute;
          top: 1px;
          width: 40px;
        }
      }
    }
  }
}