@use '../mixins/breakpoint' as *;

.as-table-noborder {
  width: 100%;

  th,
  td {
    padding: 24px;

    @include screen(desktop) {
      padding: 16px 0;
    }
  }

  tbody {
    td {
      border-bottom: 1px solid rgba(18, 18, 18, 0.12);
      ;
    }

    th {
      font-weight: normal;
    }

    .highlight {
      background-color: var(--as-color-soft);
      border-bottom: 1px solid var(--as-color-blue);
    }
  }

  thead {
    display: none;

    .highlight {
      background-color: var(--as-color-blue);
      border-radius: 10px 10px 0px 0px;
      color: var(--as-color-white);
    }

    @include screen(desktop) {
      display: contents;
    }
  }

  &__controller {
    display: block;

    @include screen(desktop) {
      display: none;
    }

    &--wrapper {
      padding: 16px;
    }

    &--right {
      &-deactive {
        &::after {
          content: url("data:image/svg+xml,%0A%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.83019 5.29019L2.59019 1.05019C2.49722 0.956464 2.38662 0.88207 2.26476 0.831301C2.1429 0.780533 2.0122 0.754395 1.88019 0.754395C1.74818 0.754395 1.61747 0.780533 1.49561 0.831301C1.37375 0.88207 1.26315 0.956464 1.17019 1.05019C0.983936 1.23756 0.879395 1.49101 0.879395 1.75519C0.879395 2.01938 0.983936 2.27283 1.17019 2.46019L4.71019 6.00019L1.17019 9.54019C0.983936 9.72756 0.879395 9.98101 0.879395 10.2452C0.879395 10.5094 0.983936 10.7628 1.17019 10.9502C1.26363 11.0429 1.37444 11.1162 1.49628 11.166C1.61812 11.2157 1.74858 11.241 1.88019 11.2402C2.01179 11.241 2.14226 11.2157 2.26409 11.166C2.38593 11.1162 2.49675 11.0429 2.59019 10.9502L6.83019 6.71019C6.92392 6.61723 6.99831 6.50663 7.04908 6.38477C7.09985 6.26291 7.12599 6.1322 7.12599 6.00019C7.12599 5.86818 7.09985 5.73747 7.04908 5.61562C6.99831 5.49376 6.92392 5.38316 6.83019 5.29019Z' fill='%23D9DDE3'/%3E%3C/svg%3E%0A");
        }
      }

      &::after {
        content: url("data:image/svg+xml;utf8,%0A%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.54071 6.29004L1.88071 0.640037C1.78775 0.546308 1.67715 0.471914 1.55529 0.421145C1.43343 0.370377 1.30273 0.344238 1.17071 0.344238C1.0387 0.344238 0.907997 0.370377 0.786138 0.421145C0.664278 0.471914 0.553677 0.546308 0.460714 0.640037C0.274463 0.827399 0.169922 1.08085 0.169922 1.34504C0.169922 1.60922 0.274463 1.86267 0.460714 2.05004L5.41071 7.05004L0.460714 12C0.274463 12.1874 0.169922 12.4409 0.169922 12.705C0.169922 12.9692 0.274463 13.2227 0.460714 13.41C0.553329 13.5045 0.663774 13.5797 0.785649 13.6312C0.907525 13.6827 1.03841 13.7095 1.17071 13.71C1.30302 13.7095 1.4339 13.6827 1.55578 13.6312C1.67765 13.5797 1.7881 13.5045 1.88071 13.41L7.54071 7.76004C7.64222 7.66639 7.72323 7.55274 7.77864 7.42624C7.83404 7.29974 7.86265 7.16314 7.86265 7.02504C7.86265 6.88693 7.83404 6.75033 7.77864 6.62383C7.72323 6.49733 7.64222 6.38368 7.54071 6.29004Z' fill='%23007AFF'/%3E%3C/svg%3E%0A");
      }
    }

    &--left {
      &-deactive {
        &::before {
          content: url("data:image/svg+xml;utf8,%0A%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.28982 6.00019L6.82982 2.46019C7.01607 2.27283 7.12061 2.01938 7.12061 1.75519C7.12061 1.49101 7.01607 1.23756 6.82982 1.05019C6.73686 0.956464 6.62626 0.88207 6.5044 0.831301C6.38254 0.780533 6.25183 0.754395 6.11982 0.754395C5.98781 0.754395 5.8571 0.780533 5.73524 0.831301C5.61339 0.88207 5.50278 0.956464 5.40982 1.05019L1.16982 5.29019C1.07609 5.38316 1.0017 5.49376 0.950931 5.61562C0.900162 5.73747 0.874023 5.86818 0.874023 6.00019C0.874023 6.1322 0.900162 6.26291 0.950931 6.38477C1.0017 6.50663 1.07609 6.61723 1.16982 6.71019L5.40982 11.0002C5.50326 11.0929 5.61408 11.1662 5.73592 11.216C5.85775 11.2657 5.98821 11.291 6.11982 11.2902C6.25143 11.291 6.38189 11.2657 6.50373 11.216C6.62557 11.1662 6.73638 11.0929 6.82982 11.0002C7.01607 10.8128 7.12061 10.5594 7.12061 10.2952C7.12061 10.031 7.01607 9.77756 6.82982 9.59019L3.28982 6.00019Z' fill='%23D9DDE3'/%3E%3C/svg%3E%0A");
        }
      }

      &::before {
        content: url("data:image/svg+xml;utf8,%0A%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.28982 6.00019L6.82982 2.46019C7.01607 2.27283 7.12061 2.01938 7.12061 1.75519C7.12061 1.49101 7.01607 1.23756 6.82982 1.05019C6.73686 0.956464 6.62626 0.88207 6.5044 0.831301C6.38254 0.780533 6.25183 0.754395 6.11982 0.754395C5.98781 0.754395 5.8571 0.780533 5.73524 0.831301C5.61339 0.88207 5.50278 0.956464 5.40982 1.05019L1.16982 5.29019C1.07609 5.38316 1.0017 5.49376 0.950931 5.61562C0.900162 5.73747 0.874023 5.86818 0.874023 6.00019C0.874023 6.1322 0.900162 6.26291 0.950931 6.38477C1.0017 6.50663 1.07609 6.61723 1.16982 6.71019L5.40982 11.0002C5.50326 11.0929 5.61408 11.1662 5.73592 11.216C5.85775 11.2657 5.98821 11.291 6.11982 11.2902C6.25143 11.291 6.38189 11.2657 6.50373 11.216C6.62557 11.1662 6.73638 11.0929 6.82982 11.0002C7.01607 10.8128 7.12061 10.5594 7.12061 10.2952C7.12061 10.031 7.01607 9.77756 6.82982 9.59019L3.28982 6.00019Z' fill='%23007AFF'/%3E%3C/svg%3E%0A");
      }
    }
  }
}