@use '../mixins/breakpoint'as *;
@import "../pages";

.forgot-password {
  margin: 100px 0px;

  &__title {
    color: #29384E;
    font-size: 2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
  }

  &__subtitle {
    color: #7F8895;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.005em;
    line-height: 24px;
    margin-top: 24px;

    & a {
      color: #007AFF;
      font-style: normal;
      font-weight: bold;
    }
  }

  &__form {
    margin-top: 66px;

    &-input {
      margin-bottom: 28px;

      & .input-group-text {
        background: #FFFFFF;
        border: 1px solid #D9DDE3;
        border-radius: 50px;
        padding-right: 32px;
      }

      & .input-group {
        & input {
          border-right: 0px;

          &:focus {
            border-right: 0px;
          }
        }
      }

      & label {
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.005em;
        line-height: 24px;
      }

      & input {
        background: #FFFFFF;
        border: 1px solid #D9DDE3;
        border-radius: 40px;
        box-sizing: border-box;
        color: #A9AFB8;
        font-size: 1rem;
        letter-spacing: 0.005em;
        line-height: 16px;
        padding: 24px 32px;

        &:focus {
          border: 1px solid #D9DDE3;
          box-shadow: none;
        }
      }
    }

    &-notif {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.005em;
      line-height: 24px;
      margin-top: 15px;

      & i {
        margin: 0px 5px 0px 10px;

        &.fa-times-circle:before {
          content: "\f057";
        }

        &.fa-check-circle:before {
          content: "\f058";
        }
      }

      &--success {
        & i {
          color: #00BFA6;
        }
      }

      &--error {
        color: #F43636;
      }
    }

    &-recaptcha {
      margin-top: 28px;
    }

    &-button {
      align-items: center;
      display: flex;
      font-size: 1rem;
      font-style: normal;
      font-weight: bold;
      line-height: 24px;
      margin-top: 44px;
      text-align: center;

      @media (max-width: 575px) {
        display: block;
      }

      & button {
        box-shadow: 0px 8px 10px rgba(255, 176, 77, 0.32);

        @media (max-width: 575px) {
          margin-bottom: 24px;
        }

        &:disabled {
          box-shadow: none;
        }

        &:focus {
          outline: 0;
        }
      }

      &--disabled {
        background: #ECECEC;
        color: #A9AFB8;
        cursor: not-allowed;

        &:hover {
          background: #ECECEC;
          color: #A9AFB8;
        }
      }

      & a {
        color: #007AFF;
      }
    }
  }

  &__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    height: 24px;
    width: 24px;

    &-eye {
      background-image: url("/assets/images/2021/membuat-website/icons/eye.svg");
    }

    &-eye-off {
      background-image: url("/assets/images/2021/membuat-website/icons/eye-off.svg");
    }
  }

  &__circle {
    background-color: #F5FAFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
    border-radius: 50%;
    height: 80px;
    margin-bottom: 38px;
    width: 80px;

    &-email {
      background-image: url("/assets/images/2021/membuat-website/icons/email.svg");
    }

    &-lock-user {
      background-image: url("/assets/images/2021/membuat-website/icons/lock-user.svg");
    }
  }
}

.customer-obsession {
  background: linear-gradient(249.77deg, #0094FF -1.99%, #007DFF 43.52%, #026CE8 95.86%);
  min-height: 100vh;
  padding: 0;
  width: 100%;

  @media (max-width: 767px) {
    min-height: 100%;
  }

  &__wrapper {
    align-items: center;
    background-image: url("/assets/images/2021/membuat-website/round-pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    border-radius: 0;
    height: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
  }

  &__logo {
    margin-right: 65px;
    text-align: right;

    &-img {
      height: 100%;
      width: auto;
    }
  }

  &__content {
    height: 100%;
  }

  &__illustration {
    text-align: center;

    @media (max-width: 575px) {
      margin-top: 80px;
    }
  }

  &__title {
    color: #FFFFFF;
    font-family: 'NunitoSansBold', sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
  }

  &__description {
    color: #FFFFFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.005em;
    line-height: 24px;
    margin-bottom: 50px;
    margin-top: 12px;
    max-width: 363px;
    opacity: 0.87;
    text-align: center;
  }
}