@import "../app";

/* Arunika Hero */
@import "../components/hero";
@import "../components/hero-center";

/* Arunika Section */
@import "../components/section-domain";
@import "../components/section-white";
@import "../components/section-center-blue";
@import "../components/section-soft-blue";

/* Arunika Card */
@import "../components/card";
@import "../components/card-color";
@import "../components/card-icon";
@import "../components/card-tips";
@import "../components/card-list";
@import "../components/card-no-list";
@import "../components/card-color-dark";
@import "../components/card-table";
@import "../components/card-left-image";
@import "../components/card-square";

/* Arunika Navigation */
@import "../components/tab-navigation";
@import "../components/navigation-column";
@import "../components/navigation-column-mobile";

/* Arunika Search Domain */
@import "../components/search-domain";

/* Arunika Tooltip */
@import "../components/tooltip";

/* Arunika Banner */
@import "../components/banner";

/* Arunika Feature */
@import "../components/feature";

/* Arunika Spinner */
@import "../components/spinner";

/* Arunika Accordion */
@import "../components/accordion";

/* Arunika Header */
@import "../components/header";

/* Owl Carousel */
@import "../components/owl-carousel";

/* Table */
@import "../components/table";

/* Arunika Headline Section */
@import "../helpers/transition";
@import "../components/headline-section";

/* Arunika Video IFrame */
@import "../components/iframe-video";

.hosting-terbaik {
  &__pricing {
    &-title {
      text-align: left;

      @include screen(tablet) {
        text-align: center;
      }
    }

    &-description {
      text-align: left;

      @include screen(tablet) {
        text-align: center;
      }
    }
  }

  &__feature {
    &-item {
      @include screen(tablet) {
        padding: 0 3rem 1.25rem;
      }
    }

    &-pill {
      padding: unset;

      @include screen(tablet) {
        padding-left: 3rem;
      }
    }
  }

  &__support {
    margin-top: -60px;
    padding: 0 20px 40px;

    @include screen(tablet) {
      margin-top: unset;
      padding: 120px 0 0;
    }

    img {
      border: 1px solid #d9dde3;
      border-radius: 12px;
    }

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }

    .as-navigation-tab {
      margin-bottom: unset;
      margin-top: 40px;
    }
  }

  &__column {
    &-desktop {
      display: none;

      @include screen(tablet) {
        display: flex;
      }
    }

    &-mobile {
      @include screen(tablet) {
        display: none;
      }
    }
  }

  &__system {
    border-top: 1px solid #d9dde3;
    margin-top: 10px;
    padding-top: 40px;

    .as-card-square {
      height: auto;
      min-height: 160px;
    }

    @include screen(tablet) {
      .as-card-square {
        min-width: 124px;
        width: 100%;
      }

      .as-card-square__tagline,
      .as-card-square__text {
        font-size: clamp(0.875rem, 4vw, 1rem);
        letter-spacing: 0.02em;
        line-height: 1.5rem;
      }

      .as-card-square__number {
        font-size: clamp(2rem, 5vw, 3.5rem);
        font-weight: 700;
        letter-spacing: 0.005em;
        line-height: 2.25rem;

        @include screen(desktop) {
          line-height: 4rem;
        }
      }
    }
  }

  &__social {
    margin-top: 40px;

    @include screen(desktop) {
      margin-top: 32px;
    }

    &-icon {
      @include font-size('16-semibold');
      align-items: center;
      display: flex;
    }
  }

  &__offer {
    margin: -20px 0 24px;

    &-word {
      @include font-size('16-semibold');
      color: var(--as-color-white);

      span {
        text-decoration: line-through;
      }
    }

    &-price {
      @include font-size('40');
      color: var(--as-color-white);

      &::before {
        @include font-size('16');
        content: "Rp";
        float: left;
        margin-top: 7px;
      }

      &::after {
        @include font-size('16');
        content: "/bulan";
      }
    }
  }
}


@media (max-width: 767.98px) {
  .as-header-corner {
    background-image: url("data:image/svg+xml,%3Csvg width='322' height='390' viewBox='0 0 322 390' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M208 56.3737C124.259 56.3737 56.3737 124.259 56.3737 208C56.3737 291.741 124.259 359.626 208 359.626C291.741 359.626 359.626 291.741 359.626 208C359.626 124.259 291.741 56.3737 208 56.3737ZM55.8877 208C55.8877 123.991 123.991 55.8877 208 55.8877C292.009 55.8877 360.112 123.991 360.112 208C360.112 292.009 292.009 360.112 208 360.112C123.991 360.112 55.8877 292.009 55.8877 208Z' fill='%232199FA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M208 0.485981C93.3932 0.485981 0.485981 93.3932 0.485981 208C0.485981 322.607 93.3932 415.514 208 415.514C322.607 415.514 415.514 322.607 415.514 208C415.514 93.3932 322.607 0.485981 208 0.485981ZM0 208C0 93.1248 93.1248 0 208 0C322.875 0 416 93.1248 416 208C416 322.875 322.875 416 208 416C93.1248 416 0 322.875 0 208Z' fill='%232199FA'/%3E%3C/svg%3E"),linear-gradient(249.77deg,#0094ff -1.99%,#007dff 43.52%,#026ce8 95.86%) !important;
    background-position: 100% 60% !important;
    background-size: contain;
  }
  
  .as-hero__button {
    width: 100% !important;
  }
}

.as-hero {
  &__wrapper {
    @include screen(desktop) {
      margin-top: 6rem !important;
    }

    &-image {
      img {
        padding-bottom: 40px;
        width: 100%;

        @include screen(desktop) {
          padding: unset;
        }

        @media (min-width: 1920px) {
          padding-top: 60px;
        }
      }
    }
  }

  &__title {
    @include font-size('56');
  }

  &__description {
    @include font-size('24');
    opacity: 0.8;
  }

  &__list {
    width: 100%;
    margin: unset;

    @include screen(mobileSmall) {
      margin: 1rem 1.5rem;
    }

    @media (max-width: 1199px) and (min-width: 992px)  {
      &-item {
        font-size: 0.69rem !important;
        margin-left: 20px !important;
      }

      &-button {
        padding: 5px 15px 5px 4px !important;
      }
    }

    &-button {
      background: #2199FA;
      border: none;
      border-radius: 16px;
      padding: 5px 15px 5px 27px;
      width: fit-content;
    }

    &-item {
      font-size: 0.875rem;

      &::before {
        left: -20px;
        top: 0;
      }
    }
  }
}

.as-section-softblue {
  &__title {
    @include screen(desktop) {
      padding: 0 220px;
    }
  }
}

.as-card-base__title {
  text-transform: none;
}

.as-headline-section {
  &__subtitle {
    @include font-size('18');
  }

  &__title {
    @include font-size('40');
  }

  &__description {
    @include font-size('16');
  }
}

.as-section-white {
  padding: unset;

  @include screen(tablet) {
    padding: 56px;
  }

  &__title {
    width: 100%;
  }

  &__description {
    color: #546071;
    padding: unset;
    width: 100%;
  }
}

.as-card-square {
  height: 114px;
  margin-bottom: 26px;
  width: 124px;
  padding: 12px;

  &__tagline {
    @include font-size('12');
    color: #00bfa6;
  }

  &__number {
    @include font-size('32');
    height: unset;
    line-height: 2.6rem;
    text-transform: unset;
    white-space: nowrap;

    span {
      @include font-size('16');
    }
  }

  &__text {
    @include font-size('12');
  }
}
